h1 {
  text-transform: uppercase;
  text-align: center;
}

.book-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.book {
  width: 12rem;
}

.status {
  font-style: italic;
}

.book-cover {
  height: 10rem;
  border: 0.2rem solid black;
}
